body{
    background-image: url(../images/banner.jpg);
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.logo img{
    height: 45px;
    width: 167px;
}

.header{
    padding: 20px 50px;
    position: relative;
    z-index: 100;
}

.wrapped{
    height: 100vh;
    background-image: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
}

.wrapped::before{
    content: '';
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Login Form */
.login-form {
    padding: 60px;
    z-index: 90;
    position: relative;
    max-width: 450px;
    height: 630px;
    margin-left: 50%;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    box-sizing: border-box;
    transform: translate(-50%);
}

.login-form h2{
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-top: 0;
    margin-bottom: 30px;
}

.login-form input{
    height: 50px;
    width: 100%;
    border-radius: 3px;
    color: white;
    background: #333;
    border: 1px solid #333;
    padding-left: 15px;
    box-sizing: border-box;
    outline: none;
}

.input__wrap{
    position: relative;
    margin-bottom: 18px;
}

.input__wrap label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    user-select: none;
    color: #ccc;
}

.input__wrap input:focus + label {
    top: 10px;
    font-size: 10px;
    transition: 0.2s 
}

.input__wrap button{
    margin-top: 25px;
}

.login-form button{
    height: 50px;
    width: 100%;
    color: white;
    background: #E50914;
    border-radius: 3px;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #E50914;
}

.support{
    display: flex;
    color: #ccc;
    justify-content: space-between;
    font-size: 12.5px;
}

.support input{
    width: 15px;
    height: 15px;
}

.remember{
    display: flex;
    align-items: center;

}

.remember span{
    margin-right: 10px;
    height: 25px;
}

.remember .checkbox{
    width: 18px;
    height: 18px;
}


/* Login footer */
.login__fb{
    padding-top: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    color: #737373;
}

.login__fb img{
    width: 20px;
    height: 20px;
}

.login__fb span{
    margin-right: 10px;
    font-size: 13px;
}

.login__fb span a{
    text-decoration: none;
    color: #737373;
}

.signup{
    color: #737373;
    font-size: 16px;
}

.signup p{
    padding-top: 14px;
}

.signup a{
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.signup a:hover{
    text-decoration: underline;
}

.terms{
    color: #737373;
    font-size: 13px;
}

.terms a{
    text-decoration: none;
    color: blue;
}

.terms a:hover{
    text-decoration: underline;
}

/* footer css */
.footer-wrapped{
    height: 100%;
    justify-content: space-between;
    padding: 0 18%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #000;
    color: #fff;
}

.footer-wrapped .part-one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 0;
    margin: auto;
}
.footer-wrapped a:hover{
    border-bottom: 1px solid #ccc;
}
.footer-wrapped a{
    color: #757575;
    text-decoration: none;
}
.footer-wrapped .part-one li a:hover{
    border-bottom: 1px solid #ccc;
}
.footer-wrapped .part-one li a{
    color: #757575;
    text-decoration: none;
    font-size: 13px;
}
.footer-btn {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-btn .form-select {
    color: #ccc;
    width: max-content;
    padding: 8px 25px;
    border: 1px solid rgb(170, 170, 170);
    font-size: 1rem;
    font-weight: 500;
    background-color: transparent;
}

.footer-btn .form-select option {
    background-color: rgba(0, 0, 0, 0.4);
}
.footer-wrapped .col-md{
    padding-top: 20px;
    font-size: 13px;
}

ul { 
    list-style-type: none;
    padding-left: 0;
}

li{
    margin-bottom: 10px;
}

